extends ../shared/template

block content
  h1 Builder

  form
    input(type='text', name='username', autofocus=true, placeholder='Username')
    button#login Login
  #username

  button#seed Plant Seed
  #forest

block scripts
  script(src='/js/es6/compiled/game.js')
